


#loginbuttons{

    display: flex;
  
 
   
}

.buttonlogin{
height: 45px;
width: 40%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 15px;
background-color: rgb(154, 231, 238);
margin: 5px;
color: gray;
}





#email-input{
    display: flex;
    justify-content: space-evenly;
    
}



#pass-input{
    display: flex;
    justify-content: space-evenly;
    
}