#navbar{
    display: flex;
    justify-content: space-between;
    height: 20%;
    background-color: #a8dadc;
    opacity: 95%;
}


  
  .guide{
    display:flex;
    flex-direction: row;
    margin: 2vw;
    gap: .8rem;
  }

  .logo{
    margin:1rem;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    
  }