@import 'antd/dist/antd.css';


#body-wrapper{
  height: 100vh;
}
#resume-list {
  height: 100%;
  overflow-x: hide;
  overflow-y: auto;
  margin: 2%;
  padding:  16px;
  
 
}

#upload{
 margin: 15px;
width:  400px;
 right: 3px;
}

.resume-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.resume--post-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: lightcyan;
  height: 800px;
}

#ScoreInput{
  width: 20%;
  
  box-shadow: 90px;

}

