@import 'antd/dist/antd.css';


#resume-list {
  height: 100%;
  overflow-x: hide;
  overflow-y: auto;
  margin: 2%;
  padding:  16px;
  
 
}

.resume-container{
  display: flex;
  flex-direction: column;
 
}

